services:
  generalreservationsystem.migrator:
    build:
      context: .
      dockerfile: GeneralReservationSystem.Migration/Dockerfile
    command: migrate "Host=${SQL_HOST};Port=${SQL_PORT};Database=${SQL_DB:-grsdb};Username=${DB_OWNER:-grs_admin_user};Password=${DB_OWNER_PASSWORD};SSLMode=${DB_SSL_MODE:-Require};TrustServerCertificate=true"

  generalreservationsystem.server:
    build:
      context: .
      dockerfile: GeneralReservationSystem.Server/Dockerfile
    ports:
      - "${HOST_HTTP_PORTS:-5002}:8080"
      - "${HOST_HTTPS_PORTS:-5003}:8081"
    environment:
      - ConnectionStrings__DefaultConnection=Host=${SQL_HOST};Port=${SQL_PORT};Database=${SQL_DB:-grsdb};Username=${DB_USER:-grs_app_user};Password=${DB_PASSWORD};SSLMode=${DB_SSL_MODE:-Require};TrustServerCertificate=true
      - ASPNETCORE_HTTP_PORTS=8080
      - ASPNETCORE_HTTPS_PORTS=8081
      - Jwt__SecretKey=${JWT_SECRET_KEY}
      - CorsOrigins=${CORS_ORIGINS}
    depends_on:
      generalreservationsystem.migrator:
        condition: service_completed_successfully