services:
  sqlserver:
    image: mcr.microsoft.com/mssql/server:2022-latest
    container_name: sqlserver_container
    ports:
      - "1433:1433"
    environment:
      - ACCEPT_EULA=${ACCEPT_EULA}
      - MSSQL_SA_PASSWORD=${SA_PASSWORD}
    volumes:
      - sql_data:/var/opt/mssql
      - ./db-init.sql:/db-init.sql
      - ./apply-migrations.sh:/apply-migrations.sh
      - ./Migrations:/Migrations
    command: >
        /bin/bash -c "/opt/mssql/bin/sqlservr &
        ./apply-migrations.sh &&
        wait"

  generalreservationsystem.web:  
    image: ${DOCKER_REGISTRY-}generalreservationsystemweb
    build:
      context: .
      dockerfile: GeneralReservationSystem.Web/Dockerfile
    ports:
      - "80:${ASPNETCORE_HTTP_PORTS:-8080}"
      - "443:${ASPNETCORE_HTTPS_PORTS:-8081}"
    depends_on:
      - sqlserver
    environment:
      - ConnectionStrings__DefaultConnection=Server=${SQL_HOST}:${SQL_PORT};Database=${SQL_DB};User Id=${SQL_USER};Password=${SQL_PASSWORD};TrustServerCertificate=True
      - SQL_HOST=${SQL_HOST}
      - SQL_PORT=${SQL_PORT}
      - SQL_DB=${SQL_DB}
      - SQL_USER=${SQL_USER}
      - SQL_PASSWORD=${SQL_PASSWORD}
volumes:
  sql_data:
