services:
  sqlserver:
    image: mcr.microsoft.com/mssql/server:2022-latest
    container_name: sqlserver_container
    ports:
      - "1433:1433"
    environment:
      - ACCEPT_EULA=${ACCEPT_EULA}
      - MSSQL_SA_PASSWORD=${SA_PASSWORD}
    volumes:
      - sql_data:/var/opt/mssql
      - ./db-init.sql:/db-init.sql
      - ./apply-migrations.sh:/apply-migrations.sh
      - ./Migrations:/Migrations
    command: >
        /bin/bash -c "/opt/mssql/bin/sqlservr &
        ./apply-migrations.sh &&
        wait"

  generalreservationsystem.web:  
    image: ${DOCKER_REGISTRY-}generalreservationsystemweb
    build:
      context: .
      dockerfile: GeneralReservationSystem.Web/Dockerfile
    ports:
      - "${HOST_HTTP_PORT:-5000}:${APP_HTTP_PORTS:-8080}"
      - "${HOST_HTTPS_PORT:-5001}:${APP_HTTPS_PORTS:-8081}"
    depends_on:
      - sqlserver
    environment:
      - ConnectionStrings__DefaultConnection=Server=${SQL_HOST},${SQL_PORT};Database=${SQL_DB};User Id=${SQL_USER};Password=${SQL_PASSWORD};TrustServerCertificate=True
      - SQL_HOST=${SQL_HOST}
      - SQL_PORT=${SQL_PORT}
      - SQL_DB=${SQL_DB}
      - SQL_USER=${SQL_USER}
      - SQL_PASSWORD=${SQL_PASSWORD}
      - APP_HTTP_PORTS=${APP_HTTP_PORTS:-8080}
      - APP_HTTPS_PORTS=${APP_HTTPS_PORTS:-8081}

  generalreservationsystem.api:
    image: ${DOCKER_REGISTRY-}generalreservationsystemapi
    build:
      context: .
      dockerfile: GeneralReservationSystem.API/Dockerfile
    ports:
      - "${HOST_API_HTTP_PORT:-6000}:${API_HTTP_PORTS:-8082}"
      - "${HOST_API_HTTPS_PORT:-6001}:${API_HTTPS_PORTS:-8083}"
    depends_on:
      - sqlserver
    environment:
      - ConnectionStrings__DefaultConnection=Server=${SQL_HOST},${SQL_PORT};Database=${SQL_DB};User Id=${SQL_USER};Password=${SQL_PASSWORD};TrustServerCertificate=True
      - SQL_HOST=${SQL_HOST}
      - SQL_PORT=${SQL_PORT}
      - SQL_DB=${SQL_DB}
      - SQL_USER=${SQL_USER}
      - SQL_PASSWORD=${SQL_PASSWORD}
      - API_HTTP_PORTS=${API_HTTP_PORTS:-8082}
      - API_HTTPS_PORTS=${API_HTTPS_PORTS:-8083}

volumes:
  sql_data: