services:
  generalreservationsystem.migrator:
    build:
      context: .
      dockerfile: GeneralReservationSystem.Migration/Dockerfile
    command: migrate "Host=${SQL_HOST};Port=${SQL_PORT};Database=${SQL_DB:-grsdb};Username=${DB_OWNER:-grs_admin_user};Password=${DB_OWNER_PASSWORD};SSLMode=${DB_SSL_MODE:-Require};TrustServerCertificate=true"

  generalreservationsystem.api:
    build:
      context: .
      dockerfile: GeneralReservationSystem.API/Dockerfile
    ports:
      - "${HOST_API_HTTP_PORTS:-5002}:8080"
      - "${HOST_API_HTTPS_PORTS:-5003}:8081"
    environment:
      - ConnectionStrings__DefaultConnection=Host=${SQL_HOST};Port=${SQL_PORT};Database=${SQL_DB:-grsdb};Username=${DB_USER:-grs_app_user};Password=${DB_PASSWORD};SSLMode=${DB_SSL_MODE:-Require};TrustServerCertificate=true
      - ASPNETCORE_HTTP_PORTS=8080
      - ASPNETCORE_HTTPS_PORTS=8081
      - Jwt__SecretKey=${JWT_SECRET_KEY}
      - CorsOrigins=${CORS_ORIGINS}
    depends_on:
      generalreservationsystem.migrator:
        condition: service_completed_successfully

  generalreservationsystem.web:
    build:
      context: .
      dockerfile: GeneralReservationSystem.Web/GeneralReservationSystem.Web/Dockerfile
    ports:
      - "${HOST_WEB_HTTP_PORTS:-5000}:8080"
      - "${HOST_WEB_HTTPS_PORTS:-5001}:8081"
    environment:
      - Jwt__SecretKey=${JWT_SECRET_KEY}
      - ApiBaseUrl=${API_BASE_URL:-https://localhost:${HOST_API_HTTPS_PORTS:-5003}}
      - ApiBaseUrlServer=${API_BASE_URL_SERVER:-http://generalreservationsystem.api:8080}
    depends_on:
      generalreservationsystem.api:
        condition: service_healthy