services:
  sqlserver:
    image: mcr.microsoft.com/mssql/server:2022-latest
    container_name: sqlserver_container
    ports:
      - "1433:1433"
    environment:
      - ACCEPT_EULA=Y
      - MSSQL_SA_PASSWORD=SuperSa1234
    volumes:
      - sql_data:/var/opt/mssql
      - ./db-init.sql:/docker-entrypoint-initdb.d/db-init.sql      
    command: >
        /bin/bash -c "/opt/mssql/bin/sqlservr & 
        echo 'Esperando a que SQL Server arranque...' && 
        sleep 15 && 
        /opt/mssql-tools18/bin/sqlcmd -S localhost -U sa -P SuperSa1234 -C -i /docker-entrypoint-initdb.d/db-init.sql &&
        wait"

  generalreservationsystem.web:  
    image: ${DOCKER_REGISTRY-}generalreservationsystemweb
    build:
      context: .
      dockerfile: GeneralReservationSystem.Web/Dockerfile
    ports:
      - "5000:5000"
    depends_on:
      - sqlserver
    environment:
      - ConnectionStrings__DefaultConnection=Server=sqlserver;Database=AppDb;User Id=sa;Password=SuperSa1234;TrustServerCertificate=True
volumes:
  sql_data:
