#See https://aka.ms/overrideVSDockerComposeConfiguration to understand how Visual Studio uses this override file.

services:
  generalreservationsystem.api:
    environment:
      - ASPNETCORE_ENVIRONMENT=Development
    volumes:
      - ${HOME}/.microsoft/usersecrets:/root/.microsoft/usersecrets:ro
      - ${HOME}/.aspnet/https:/root/.aspnet/https:ro