services:
  generalreservationsystem.migrator:
    build:
      context: .
      dockerfile: GeneralReservationSystem.Migration/Dockerfile
    command: migrate "Host=${SQL_HOST:-postgres};Port=${SQL_PORT:-5432};Database=${SQL_DB:-grsdb};Username=${DB_OWNER:-grs_admin_user};Password=${DB_OWNER_PASSWORD:-ChangeThisAdminPassword1234};SSLMode=${DB_SSL_MODE:-Prefer};TrustServerCertificate=true"

  generalreservationsystem.server:
    build:
      context: .
      dockerfile: GeneralReservationSystem.Server/Dockerfile
    ports:
      - "${HOST_HTTP_PORTS:-5002}:8080"
      - "${HOST_HTTPS_PORTS:-5003}:8081"
    environment:
      - ConnectionStrings__DefaultConnection=Host=${SQL_HOST:-postgres};Port=${SQL_PORT:-5432};Database=${SQL_DB:-grsdb};Username=${DB_USER:-grs_app_user};Password=${DB_PASSWORD:-ChangeThisUserPassword1234};SSLMode=${DB_SSL_MODE:-Prefer};TrustServerCertificate=true
      - Jwt__SecretKey=${JWT_SECRET_KEY}
    depends_on:
      generalreservationsystem.migrator:
        condition: service_completed_successfully