@page "/counter"
@rendermode InteractiveServer
@inject GeneralReservationSystem.Infrastructure.Repositories.Interfaces.IUserRepository UserRepository

<PageTitle>Counter</PageTitle>

<h1>Counter</h1>

<MudText Typo="Typo.h6">
    Current count: @currentCount
    @contenido
</MudText>
<MudButton Variant="Variant.Filled"
           Color="Color.Primary"
           OnClick="ButtonOnClick">
    Click Me!
</MudButton>

@code
{

    private string contenido;
    private int currentCount = 0;

    protected override async Task OnInitializedAsync()
    {
        (await UserRepository.ExistsWithEmailAsync("tuputamadre@gmail.com")).IfValue((exists =>
        {
            contenido = exists ? "Existe" : "No existe";

            StateHasChanged();
        }));
    }

    void ButtonOnClick()
    {
        currentCount++;
    }
}
