@page "/counter"

@rendermode InteractiveServer

@using GeneralReservationSystem.Application.Entities.Authentication
@using GeneralReservationSystem.Application.Repositories.Interfaces.Authentication
@using System.Text

@inject IUserRepository UserRepository
@inject ISessionRepository SessionRepository

@inject ILogger<Counter> Logger


<PageTitle>Counter</PageTitle>

<h1>Counter</h1>

<MudText Typo="Typo.h6">
    Current count: @currentCount
    @contenido
</MudText>
<MudButton Variant="Variant.Filled"
           Color="Color.Primary"
           OnClick="ButtonOnClick">
    Click Me!
</MudButton>

@code
{
    private string contenido = string.Empty;
    
    private int currentCount = 0;

    protected override async Task OnInitializedAsync()
    {
        (await UserRepository.ExistsWithEmailAsync("ILUV@JESUS.com")).IfValue(async (exists) =>
        {

            if (!exists)
            {
                var contyk = new ApplicationUser
                    {
                        UserId = Guid.NewGuid(),
                        Email = "ILUV@JESUS.com",
                        EmailConfirmed = true,
                        UserName = "contykpo",
                        NormalizedUserName = "CONTYKPO",
                        NormalizedEmail = "ILUV@JESUS.COM",
                        PasswordHash = Encoding.UTF8.GetBytes("LORDJESUS"),
                        SecurityStamp = Guid.NewGuid()
                    };

                await UserRepository.CreateUserAsync(contyk, new ApplicationRole[] { });
            }
        });

        (await UserRepository.GetByEmailAsync("ILUV@JESUS.com"))
            .IfValue(async user =>
            {
                var newContykSession = new UserSession
                {
                    UserId = user.UserId,
                    SessionId = Guid.NewGuid(),
                    ExpiresAt = DateTime.UtcNow.AddHours(12),
                    CreatedAt = DateTime.UtcNow,
                    SessionInfo = "Contykpo's session"
                };

                (await SessionRepository.CreateSessionAsync(newContykSession)).IfSuccess(() =>
                {
                    NavigationManager.NavigateTo($"/teraLogin?sessionId={newContykSession.SessionId}", forceLoad: true);
                });
            })
            .IfEmpty(() =>
            {
                contenido = "User not found.";
            });
    }

    void ButtonOnClick()
    {
        currentCount++;
    }
}
